<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Nuevo gasto</title>
        
        <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		    rel="stylesheet"
		    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
		    crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
		    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
		    crossorigin="anonymous"></script>
		    
    </head>
    <body style="padding:1cm">
        
        <h1>Gastos:</h1>
        
        <form action="">
        	<div class="form-group">
        		<input type="radio" id="ingreso" name="fav_language" value="HTML" checked>
			  	<label for="html">Ingreso</label>
			  	<input type="radio" id="css" name="fav_language" value="CSS">
			  	<label for="css">Egreso</label>
        	</div>
		  	<div class="form-group">
		    	<label for="email">Concepto:</label>
		    	<input type="text" class="form-control" id="concepto">
		  	</div>
		  	<div class="form-group">
		    	<label for="pwd">Proveedor:</label>
		    	<input type="text" class="form-control" id="proveedor">
		  	</div>
		  	<div class="form-group">
		    	<label for="pwd">Monto:</label>
		    	<input type="number" class="form-control" id="monto" value="0.00">
		  	</div>
		  	<div class="form-group">
		    	<label for="pwd">Fecha de gasto:</label>
		    	<input type="datetime-local" class="form-control" id="fecha" value="">
		  	</div><br>
		 	<button type="submit" id="submit" class="btn btn-primary">Submit</button>
		</form>
		
		<script>
		
		    $( document ).ready(function() {
		        console.log( "document loaded" );
		        
		        $("#submit").click(function(event) {
					event.preventDefault(); 	
				 	
				 	var tipo;
				 	if($('#ingreso').is(':checked')) { 
						tipo = 1;
					} else {
						tipo = 2;
					}
				 	
				 	var concepto = $("#concepto").val();
				 	var proveedor = $("#proveedor").val();
				 	var monto = $("#monto").val();
				 	
				 	var fecha = document.getElementById("fecha").value;
				 	console.log("fecha: " + fecha);
				 	
				 	if(concepto==""){
						alert("El concepto esta vacio");
						$("#concepto").focus();
						return;
					}
					if(proveedor==""){
						alert("El proveedor esta vacio");
						$("#proveedor").focus();
						return;
					}
					if(monto<=0){
						alert("El monto no es correcto");
						$("#proveedor").focus();
						return;
					}
					if(fecha==""){
						alert("La fecha esta vacia");
						$("#fecha").focus();
						return;
					}
				 	
				 	var r = confirm("Continuar?");
					if (r == true) {
					 	
					 	console.log("tipo: " + tipo);
					 	console.log("concepto: " + concepto);
					 	console.log("proveedor: " + proveedor);
					 	console.log("monto: " + monto);
					 	console.log("fecha: " + fecha);
					 	
					 	$.ajax({
						    type: "POST",
						    url: "/api/gasto/save",
						    data: JSON.stringify({
						      tipo:tipo,
						      concepto:concepto,
						      proveedor:proveedor,
						      monto:monto,
						      fechaCaptura:"2020-04-08T07:30:10Z",
						      fechaRegistro:fecha
						    }),
						    headers: {
						      'Accept': 'application/json',
						      'Content-Type': 'application/json'
						    },
						    success: function(data) {
						      	if (data == true){
									alert('Gasto registrado con exito');
						        	window.location.href = "/gastos/index";
								}
						      	else {
									alert('Servidor retorno FALSE');
								}
						    }
						}); 
					}
				});
		    });
		    
    	</script>
    
    </body >
</html>